*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    a{
        text-decoration: none;
        color: inherit;
    }
}
.app{
    // color: red;
}


@import "./Abstructs//Mixin";
@import "./navbar";
@import "./layout";
@import "./data";
@import "./form";
@import "./hero";
@import "./animatedButton.scss";
@import "./about";
@import "./footer";
